AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
PenaltyReturnTypeOnItsOwnLine: 100
SortIncludes: false
SpaceAfterCStyleCast: true
