<?xml version="1.0"?>
<model>
    <name>gimbal</name>
    <version>0.1</version>

    <sdf>model.sdf</sdf>

    <author>
        <name>Chris Choi</name>
        <email>chutsu@gmail.com</email>
        <name>Stanley Brown</name>
        <email>Stan.J.Brown@gmail.com</email>
    </author>

    <description>
      A simple camera gimbal.
    </description>
</model>
