<?xml version="1.0"?>
<launch>
  <!-- settings -->
  <param name="debug_mode" value="true" />

  <!-- camera node -->
  <node pkg="atl_ros" name="atl_camera" type="camera_node" output="screen" required="true">
    <param name="config_dir" value="$(find atl_configs)/configs/camera/webcam" />
  </node>

  <!-- apriltag node -->
  <node pkg="atl_ros" name="atl_apriltag" type="apriltag_node" output="screen">
    <param name="config" value="$(find atl_configs)/configs/apriltag/config.yaml" />

  </node>
</launch>
