<?xml version="1.0"?>
<launch>
  <!-- settings -->
  <param name="sim_mode" value="false" />
  <param name="debug_mode" value="false" />
  <param name="quad_frame" value="NED" />
  <param name="fcu_type" value="DJI" />
  <param name="estimate_frame" value="BODY" />
  <param name="gimbal_imu" value="SBGC" />

  <!-- dji sdk -->
	<node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
		<param name="serial_name" type="string" value="/dev/ttyUSB0"/>
		<param name="baud_rate" type="int" value="230400"/>
    <param name="app_id" type="int" value="1043630"/>
    <param name="app_version" type="int" value="1"/>
		<param name="app_bundle_id" type="string" value="Not required in this SDK version"/>
    <param name="enc_key" type="string" value="8bd7f50dc02c5e9343f1dc19afd22b44d7907dba3239ed88e77bf3c78356e8d0"/>
		<param name="groundstation_enable" type="int" value="1"/>
	</node>

  <!-- controller node -->
  <param name="/control/config_dir" value="$(find atl_configs)/configs/quadrotor_anaroid" />
  <node pkg="atl_ros" name="atl_control" type="atl_control_node" output="screen" required="true" />

  <!-- <!&#45;&#45; camera node &#45;&#45;> -->
  <!-- <param name="/camera/config_dir" value="$(find atl_configs)/configs/camera/elp_camera" /> -->
  <!-- <node pkg="atl_ros" name="atl_camera" type="atl_camera_node" output="screen" required="true" /> -->

  <!-- <!&#45;&#45; apriltag node &#45;&#45;> -->
  <!-- <param name="/apriltag/config" value="$(find atl_configs)/configs/apriltag/config.yaml" /> -->
  <!-- <node pkg="atl_ros" name="atl_apriltag" type="atl_apriltag_node" output="screen" required="true" /> -->
  <!--  -->
  <!-- <!&#45;&#45; estimator node &#45;&#45;> -->
  <!-- <param name="/estimator/tracker_mode" value="1" /> -->
  <!-- <param name="/estimator/kf/config" value="$(find atl_configs)/configs/estimator/kf_tracker.yaml" /> -->
  <!-- <param name="/estimator/ekf/config" value="$(find atl_configs)/configs/estimator/ekf_tracker.yaml" /> -->
  <!-- <node pkg="atl_ros" name="atl_estimator" type="atl_estimator_node" output="screen" required="true" /> -->
  <!--  -->
  <!-- <!&#45;&#45; pg camera node &#45;&#45;> -->
  <!-- <param name="/camera/config_dir" value="$(find atl_configs)/configs/camera/pointgrey_chameleon" /> -->
  <!-- <node pkg="atl_ros" name="atl_camera" type="atl_pg_camera_node" output="screen" required="true" /> -->
  <!--  -->
  <!-- <!&#45;&#45; gimbal node &#45;&#45;> -->
  <!-- <param name="/gimbal/config" value="$(find atl_configs)/configs/gimbal/config.yaml" /> -->
  <!-- <node pkg="atl_ros" name="atl_gimbal" type="atl_gimbal_node" output="screen" required="true" /> -->

  <!-- imu node -->
  <!-- <node pkg="atl_ros" name="atl_imu" type="imu_node" output="screen" launch&#45;prefix="sudo &#45;E" required="true" /> -->
</launch>
