<?xml version="1.0"?>
<launch>
  <!-- settings -->
  <param name="sim_mode" value="false" />
  <param name="debug_mode" value="false" />
  <param name="quad_frame" value="NWU" />

  <!-- vicon server -->
  <arg name="server" default="192.168.1.37:11311" />
  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node_ros" output="screen" >
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883

      update_frequency: 100.0
      frame_id: world

      #Use the VRPN server time
      use_server_time: false
      broadcast_tf: true

      # Must either specify requres frequency > 0.0 or a list of trackers to create
      refresh_tracker_frequency: 1.0
    </rosparam>
  </node>

  <!-- mavros -->
  <arg name="fcu_url" default="/dev/ttyACM0:57600" />
  <arg name="gcs_url" default="" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />
  <arg name="log_output" default="screen" />

  <!-- required to make the pose data work -->
  <remap from="/mavros/mocap/pose" to="/vrpn_client_node_ros/quad/pose" />

  <include file="$(find mavros)/launch/node.launch">
    <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="tgt_system" value="$(arg tgt_system)" />
    <arg name="tgt_component" value="$(arg tgt_component)" />
    <arg name="log_output" value="$(arg log_output)" />
  </include>

  <!-- controller node -->
  <param name="control_config_dir" value="$(find atl_configs)/configs/quadrotor_anastasia" />
  <node pkg="atl_ros" name="atl_control" type="control_node" output="screen" />

  <!-- apriltag node -->
  <param name="apriltag_config" value="$(find atl_configs)/configs/apriltag/config.yaml" />
  <node pkg="atl_ros" name="atl_apriltag" type="apriltag_node" output="screen" required="true"/>

  <!-- estimate node -->
  <param name="tracker_mode" value="2" />
  <param name="kf_tracker_config" value="$(find atl_configs)/configs/estimator/kf_tracker.yaml" />
  <param name="ekf_tracker_config" value="$(find atl_configs)/configs/estimator/ekf_tracker.yaml" />
  <node pkg="atl_ros" name="atl_estimator" type="estimator_node" output="screen" required="true"/>

  <!-- pg camera node -->
  <param name="use_sim_time" value="false" />
  <param name="sim_mode" value="false" />
  <param name="debug_mode" value="false" />
  <param name="camera_config_dir" value="$(find atl_configs)/configs/camera/pointgrey_chameleon" />
  <node pkg="atl_ros" name="atl_camera" type="pg_camera_node" output="screen" required="true" />

  <!-- gimbal node -->
  <param name="debug_mode" value="true" />
  <param name="sim_mode" value="true" />
  <param name="gimbal_config" value="$(find atl_configs)/configs/gimbal/config.yaml" />
  <node pkg="atl_ros" name="atl_gimbal" type="gimbal_node" output="screen" required="true" />
</launch>
