<?xml version="1.0"?>
<launch>
  <!-- sync gazebo time with ros -->
  <param name="use_sim_time" value="true" />

  <!-- settings -->
  <param name="sim_mode" value="true" />
  <param name="debug_mode" value="false" />

  <!-- prototype -->
  <node pkg="prototype_ros" name="prototype_gazebo" type="run_gazebo.sh" args="simulation_camera.world" output="screen" required="true" />
  <node pkg="prototype_ros" name="prototype_world" type="world_node" output="screen" required="true" />
  <node pkg="prototype_ros" name="prototype_lz" type="lz_node" output="screen" required="true">
    <remap from="/prototype/lz/pose" to="/atl/lz/pose" />
    <remap from="/prototype/lz/position/set" to="/atl/lz/position/set" />
    <remap from="/prototype/lz/velocity/set" to="/atl/lz/velocity/set" />
    <remap from="/prototype/lz/angular_velocity/set" to="/atl/lz/angular_velocity/set" />
  </node>
  <node pkg="prototype_ros" name="prototype_camera" type="camera_node" output="screen" required="true">
    <remap from="/prototype/camera/image" to="/atl/camera/image" />
  </node>

  <!-- apriltag node -->
  <param name="apriltag_config" value="$(find atl_configs)/configs/apriltag/prototype.yaml" />
  <node pkg="atl_ros" name="atl_apriltag" type="apriltag_node" output="screen" required="true"/>
</launch>
