<?xml version="1.0"?>
<launch>
  <!-- settings -->
  <param name="use_sim_time" value="false" />
  <param name="sim_mode" value="false" />
  <param name="debug_mode" value="false" />

  <!-- ros node -->
  <param name="/camera/calibration_mode" value="true" />
  <param name="camera_config_dir" value="$(find atl_configs)/configs/camera/pointgrey_chameleon" />
  <node pkg="atl_ros" name="atl_camera" type="atl_pg_camera_node" output="screen" required="true" />
</launch>
