<?xml version="1.0"?>
<launch>
  <!-- settings -->
  <param name="use_sim_time" value="false" />
  <param name="sim_mode" value="false" />
  <param name="debug_mode" value="false" />

  <param name="/camera/config_dir" value="$(find atl_configs)/configs/camera/elp_camera" />

  <!-- ros node -->
  <node pkg="atl_ros" name="atl_camera" type="atl_camera_node" output="screen" required="true" />
</launch>
