# general configuration options
PROJECT_NAME = "atl"
OUTPUT_DIRECTORY = "docs/doxygen"
OUTPUT_LANGUAGE = English
QUIET = NO
WARNINGS = YES
DISABLE_INDEX = NO
EXTRACT_ALL = YES  # all docs on classes and functions will be processed
EXTRACT_PRIVATE = YES  # private docs will be processed
MARKDOWN_SUPPORT = YES

# input files configurations
FILE_PATTERNS = *.hpp *.cpp
RECURSIVE = YES


# HTML output configurations
GENERATE_HTML = YES
# LAYOUT_FILE = docs/style/layout.xml
# HTML_HEADER = docs/style/header.html
# HTML_FOTTER = docs/style/footer.html

DISABLE_INDEX = No
GENERATE_TREEVIEW = NO
SEARCHENGINE = NO
AUTOLINK_SUPPORT=NO
EXTRACT_ALL = YES
DISTRIBUTE_GROUP_DOC = YES
