<?xml version="1.0"?>
<launch>
	<param
        name="camera_config_path"
	    value="$(find atim)/configs/pointgrey_firefly" />
	<node
	    pkg="atim"
	    type="atim"
	    name="atim"
	    output="screen" />

	<node
	    pkg="awesomo"
	    type="awesomo_landing_target"
	    name="awesomo_landing_target"
	    output="screen" />
</launch>
