<?xml version="1.0"?>
<launch>
    <!-- ATIM -->
    <param
        name="camera_config_path"
	    value="$(find atim)/configs/ximea_camera" />
	<node
	    pkg="atim"
	    type="atim"
	    name="atim"
	    output="screen" />

    <!-- CONTROLLER -->
	<param
        name="quadrotor"
        value="$(find awesomo)/configs/quadrotor/config.yaml" />
	<param
        name="position_controller"
        value="$(find awesomo)/configs/position_controller/config.yaml" />
	<param
        name="carrot_controller"
        value="$(find awesomo)/configs/carrot_controller/config.yaml" />
	<node
	    pkg="awesomo"
	    type="awesomo"
	    name="awesomo"
	    output="screen" />
</launch>
