<?xml version="1.0"?>
<launch>
    <include file="$(find mavros)/launch/px4.launch" />

	<param
        name="position_controller"
        value="$(find awesomo)/configs/position_controller/config.yaml" />
	<node
	    pkg="awesomo"
	    type="awesomo"
	    name="awesomo"
	    output="screen" />
</launch>
