<launch>
    <!-- <include file="$(find mavros)/launch/px4.launch" /> -->
	<!-- <include file="$(find mocap_optitrack)/launch/mocap_awesomo.launch" /> -->

	<param
        name="camera_config_path"
	    value="$(find awesomo)/configs/pointgrey_firefly" />
	<node pkg="awesomo" type="quadrotor_node" name="quadrotor_node" output="screen" />
</launch>
