<?xml version="1.0"?>
<launch>
  <!-- configs -->
  <param name="debug_mode" value="true" />
  <param name="node_config" value="$(find awesomo_ros)/configs/default/apriltag_node.yaml" />
  <param name="apriltag_config" value="$(find awesomo_configs)/configs/apriltag/config.yaml" />

  <!-- publish topics -->
  <param name="apriltag_pose_topic" value="/awesomo/apriltag/pose" />
  <param name="gimbal_track_topic" value="/awesomo/gimbal/track" />

  <!-- subscribe topics -->
  <param name="shutdown" value="/awesomo/apriltag/shutdown" />
  <param name="camera_pose_topic" value="/awesomo/camera/image" />

  <!-- node -->
  <node pkg="awesomo_ros" name="awesomo_apriltag" type="apriltag_node" output="screen" />
</launch>
