<?xml version="1.0"?>
<launch>
  <!-- configs -->
  <param name="debug_mode" value="true" />
  <param name="apriltag_config" value="$(find awesomo_configs)/configs/apriltag/config.yaml" />

  <!-- node -->
  <node pkg="awesomo_ros" name="awesomo_apriltag" type="apriltag_node" output="screen" />
</launch>
