<?xml version="1.0"?>
<launch>
  <!-- sync gazebo time with ros -->
  <param name="use_sim_time" value="true" />

  <!-- settings -->
  <param name="sim_mode" value="true" />
  <param name="debug_mode" value="false" />
  <param name="quad_frame" value="NWU" />

  <!-- prototype -->
  <param name="gimbal_mode" value="true" />
  <param name="gimbal_position_topic" value="/awesomo/gimbal/position/inertial" />
  <param name="gimbal_frame_orientation_topic" value="/awesomo/gimbal/frame/orientation/inertial" />
  <param name="gimbal_joint_orientation_topic" value="/awesomo/gimbal/joint/orientation/inertial" />

  <node pkg="prototype_ros" name="prototype_gazebo" type="run_gazebo.sh" output="screen" required="true" />
  <node pkg="prototype_ros" name="prototype_world" type="world_node" output="screen" required="true" />
  <node pkg="prototype_ros" name="prototype_quadrotor" type="quadrotor_node" output="screen" required="true" />
  <node pkg="prototype_ros" name="prototype_lz" type="lz_node" output="screen" required="true">
    <remap from="/prototype/lz/pose" to="/awesomo/lz/pose" />
    <remap from="/prototype/lz/position/set" to="/awesomo/lz/position/set" />
    <remap from="/prototype/lz/velocity/set" to="/awesomo/lz/velocity/set" />
    <remap from="/prototype/lz/angular_velocity/set" to="/awesomo/lz/angular_velocity/set" />
  </node>
  <node pkg="prototype_ros" name="prototype_camera" type="camera_node" output="screen" required="true">
    <remap from="/prototype/camera/image" to="/awesomo/camera/image" />
  </node>
  <node pkg="prototype_ros" name="prototype_gimbal" type="gimbal_node" output="screen" required="true" >
    <remap from="/prototype/gimbal/position/inertial" to="/awesomo/gimbal/position/inertial" />
    <remap from="/prototype/gimbal/frame/orientation/inertial" to="/awesomo/gimbal/frame/orientation/inertial" />
    <remap from="/prototype/gimbal/joint/orientation/inertial" to="/awesomo/gimbal/joint/orientation/inertial" />
    <remap from="/prototype/gimbal/setpoint/attitude" to="/awesomo/gimbal/setpoint/attitude" />
    <remap from="/prototype/gimbal/target/track" to="/awesomo/gimbal/target/track" />
  </node>

  <!-- control node -->
  <!-- <param name="position_mode" value="gps" /> -->
  <!-- <param name="position_mode" value="mocap" /> -->
  <!-- <node pkg="awesomo_ros" name="awesomo_position" type="position_node.py" output="screen" required="true"/> -->

  <!-- control node -->
  <param name="control_config_dir" value="$(find awesomo_configs)/configs/quadrotor_gazebosim" />
  <node pkg="awesomo_ros" name="awesomo_control" type="control_node" output="screen" required="true"/>

  <!-- apriltag node -->
  <param name="apriltag_config" value="$(find awesomo_configs)/configs/apriltag/prototype.yaml" />
  <node pkg="awesomo_ros" name="awesomo_apriltag" type="apriltag_node" output="screen" required="true"/>

  <!-- estimate node -->
  <param name="tracker_mode" value="1" />
  <param name="kf_tracker_config" value="$(find awesomo_configs)/configs/estimator/kf_tracker.yaml" />
  <param name="ekf_tracker_config" value="$(find awesomo_configs)/configs/estimator/ekf_tracker.yaml" />
  <node pkg="awesomo_ros" name="awesomo_estimator" type="estimator_node" output="screen" required="true"/>
</launch>
