<?xml version="1.0"?>
<launch>
  <!-- sync gazebo time with ros -->
  <param name="use_sim_time" value="true" />

  <!-- prototype -->
  <param name="sim_mode" value="true" />
  <param name="debug_mode" value="false" />
  <node pkg="prototype_ros" name="prototype_gazebo" type="run_gazebo.sh" output="screen" required="true" />
  <node pkg="prototype_ros" name="prototype_world" type="world_node" output="screen" required="true" />
  <node pkg="prototype_ros" name="prototype_quadrotor" type="quadrotor_node" output="screen" required="true" />
  <node pkg="prototype_ros" name="prototype_camera" type="camera_node" output="screen" required="true">
    <remap from="/prototype/camera/image" to="/awesomo/camera/image" />
  </node>
  <node pkg="prototype_ros" name="prototype_gimbal" type="gimbal_node" output="screen" required="true" >
    <remap from="/prototype/gimbal/pose" to="/awesomo/gimbal/pose" />
    <remap from="/prototype/gimbal/setpoint/attitude" to="/awesomo/gimbal/setpoint/attitude" />
    <remap from="/prototype/gimbal/track" to="/awesomo/gimbal/track" />
    <remap from="/prototype/gimbal/target/local" to="/awesomo/gimbal/target/local" />
    <remap from="/prototype/gimbal/target/world" to="/awesomo/gimbal/target/world" />
  </node>

  <!-- control node -->
  <include file="$(find awesomo_ros)/launch/control.launch" />
  <param name="sim_mode" value="true" />
  <param name="debug_mode" value="false" />
  <param name="control_config_dir" value="$(find awesomo_configs)/configs/quadrotor_gazebosim" />

  <!-- apriltag node -->
  <param name="sim_mode" value="true" />
  <param name="debug_mode" value="false" />
  <param name="apriltag_config" type="str" value="$(find awesomo_configs)/configs/apriltag/prototype.yaml" />
  <node pkg="awesomo_ros" name="awesomo_apriltag" type="apriltag_node" output="screen" required="true"/>
</launch>
