<?xml version="1.0"?>
<launch>
  <!-- configs -->
  <param name="debug_mode" value="false" />
  <param name="sim_mode" value="false" />
  <param name="control_config_dir" value="$(find awesomo_configs)/configs/quadrotor_anastasia" />

  <!-- node -->
  <node pkg="awesomo_ros" name="awesomo_control" type="control_node" output="screen" />
</launch>
