<?xml version="1.0"?>
<launch>
  <!-- configs -->
  <param name="debug_mode" value="true" />
  <param name="sim_mode" value="true" />
  <param name="gimbal_config" value="$(find awesomo_configs)/configs/gimbal/config.yaml" />

  <!-- node -->
  <node pkg="awesomo_ros" name="awesomo_gimbal" type="gimbal_node" output="screen" required="true" />
</launch>
